body {
  background-color: #ebebeb;
  font-family: "Roboto", sans-serif;
  opacity: 0.8;
  background-color: #dfdbe5;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='24' viewBox='0 0 12 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M2 0h2v12H2V0zm1 20c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM9 8c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zm-1 4h2v12H8V12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  min-height: 100vh;
}
body .form {
  background-color: #fff;
  width: 90%;
  margin: auto;
  max-width: 300px;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);
  text-align: center;
}
body .form .form__title {
  font-size: 2rem;
  margin-bottom: 0.5em;
}
@media (max-width: 425px) {
  body .form .form__title {
    font-size: 1.8rem;
  }
}
body .form .form__paragrafo {
  font-weight: 300;
}
body .form .form__paragrafo .form__link {
  font-weight: 400;
  color: #000;
}
@media (max-width: 425px) {
  body .form .form__paragrafo {
    font-size: 0.97rem;
  }
}
body .form .form__container {
  margin-top: 3em;
  display: grid;
  gap: 2.5em;
}
body .form .form__container .form__group {
  position: relative;
  color: #444;
}
body .form .form__container .form__group .form__input {
  width: 100%;
  color: #706c6c;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  border-bottom: 1px solid #555;
  font-family: "Roboto", sans-serif;
}
body .form .form__container .form__group .form__input:not(:-moz-placeholder-shown) + .form__label {
  transform: translateY(-12px) scale(0.9);
  transform-origin: left top;
}
body .form .form__container .form__group .form__input:focus + .form__label, body .form .form__container .form__group .form__input:not(:placeholder-shown) + .form__label {
  transform: translateY(-12px) scale(0.9);
  transform-origin: left top;
}
body .form .form__container .form__group .form__input:not(:-moz-placeholder-shown) ~ .form_line {
  transform: scale(1);
}
body .form .form__container .form__group .form__input:focus ~ .form_line, body .form .form__container .form__group .form__input:not(:placeholder-shown) ~ .form_line {
  transform: scale(1);
}
body .form .form__container .form__group .form__input:not(:-moz-placeholder-shown) {
  color: #000;
}
body .form .form__container .form__group .form__input:not(:placeholder-shown) {
  color: #000;
}
body .form .form__container .form__group .form__label {
  font-weight: 400;
  color: #000;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: 0.5s, #555 0.3s;
  transition-duration: 0.5s;
}
body .form .form__container .form__group .form_line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(0, 31, 209);
  transform: scale(0);
  transform: left bottom;
  transition: 0.4s;
}
body .form .form__container .form__submit {
  background: rgb(31, 61, 231);
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding: 0.8em 0;
  border: none;
  border-radius: 0.5em;
}/*# sourceMappingURL=main.css.map */