

.container{
    background-color: rgb(132, 54, 53);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.item{
    background-color: rgb(67, 30, 108);
    border-radius: 10px;
    padding: 20px;
    color: aliceblue;
}
.item1{
    /*
    1. grid-row-start
    2. grid-column-start
    3. grid-row-end
    4. grid-column-end
    */
    grid-area:  2 /2 /5/span 3;
}