@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins');

*
{
    margin: 0;
    padding: 0;
}

nav
{
    display: flex;
    align-items: end;
    justify-content: flex-start;
    background-color: cornflowerblue;
    width: 100%;
    height: 160px;
}

nav ul
{
    display: flex;
    gap: 32px;
    padding-left: 35px;
    padding-bottom: 10px;
}

nav ul li
{
    list-style: none; /*Retira a bolinha das colunas*/
    
}

nav ul li a
{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    border-width: 0px;
    transition: 0.3s;
}

nav ul li a:hover
{
    border-bottom: 1px solid rgb(255, 253, 228);
    color: cornsilk;
}