


/*Tem que estar a largura na mesmo proporção da altura para aplicar*/
/* Minimum aspect ratio */
@media (min-aspect-ratio: 8/5) {
    div {
      background: #9af; /* blue */
    }
  }
  
  /* Maximum aspect ratio */
  @media (max-aspect-ratio: 3/2) {
    div {
      background: #9ff; /* cyan */
    }
  }
  
  /* Exact aspect ratio, put it at the bottom to avoid override*/
  @media (aspect-ratio: 1/1) {
    div {
      background: #f9a; /* red */
    }
  }
  