
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #141414;
}

.blob
{
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: rgb(207, 65, 89);
}