/**/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Poppins:wght@200;300;400&display=swap");
* {
    font-family: "Montserrat", sans-serif;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.page-wrapper {
    background-color: rgb(210, 224, 236);
    padding-inline: 55px;
    margin: auto;
}
.container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
a,
span{
    color: rgb(212, 71, 66);
    font-weight: 500;
}
h2 {
    color: black;
}
header {
    width: 100%;
    max-height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    position: relative;
    padding-top: 50px;
}
header ul {
    width: 100%;
    border: solid 2px #222;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-auto-columns: 270px;
    grid-template-rows: 70px;
    grid-auto-rows: 50px;
    height: min-content;
}
header ul li {
    list-style: none;
}
header h2 {
    word-spacing: 0.3rem;
}
header picture {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-image: url("mebg.jpeg");
    background-size: 130%; /* Aproxima o conteúdo da imagem em 1.2 vezes */
    background-repeat: no-repeat;
    background-position: 49% 25%;
    filter: saturate(.8);
}
/*-----------------------------
    Start main section
-----------------------------*/
.main{
    display: grid;
    align-items: center;
    justify-items: center;
    padding-bottom: 100px;
}
.main article h2 {
    font-weight: 600;
}
.main article p {
    width: 80%;
    line-height: 1.7rem;
}
