

div {
    width: 50px;
    height: 50px;
    background-color: blue;
}

body div:first-child{
    border-radius: 15px 15px 0px 0px;
}

body div:last-of-type {
    background-color: rebeccapurple;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}