


body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}
/*
 É o 'mix-blend-mode: difference;' o responsável por inverter
 a cor quando chegar do before pro after
*/
body::before{
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: blue;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 2;
}
body::after{
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: #ff3939;
    pointer-events: none;
    z-index: -1;
}
marquee {
    color: #fff;
    font-size: 12vw;
    text-transform: capitalize;
}