
body{
    background-color: #333;
    font-size: 12px;
    height: 100vh;
    overflow: hidden;
}
.title{
    color: #ffffff;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 8rem;
    font-size: 20px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}
.button{
    cursor: pointer;
    color: #ffffff;
    border: 0;
    background: none;
    width: 7rem;
    height: 7rem;
    padding: 0;
    margin: 1rem;
    font-size: 18px;
}
.button-deco{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid #ce1352;
    border-radius: 50%;
    background: #312b35;
}
.button-filter{
    background-color: #ce1352;
    position: absolute;
    width: 150%;
    height: 200%;
    border-radius: 50%;
    top: -50%;
    left: -25%;
    transform: translate3d(0, 75%, 0);
}
.button-text,
.button-text-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
@media (any-pointer: fine){ /*como um elemento responde aos eventos de ponteiro*/
    .cursor{
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        pointer-events: none;
    }
    .cursor-inner{
        fill: #fff;
        stroke: #fff;
        stroke-width: 1px;
    }
}